.playlist {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.playlist > * {
  flex: 50%;
}

.playlist input {
    flex: 1;
    padding: 0rem;
    margin-right: 0rem;
  }
  .playlist button {
    padding: 0.5rem 2rem;
    border: 1px solid #adc0ff;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Custom Playlist Title Header Section */
  /* Initial State of Header Text */
  .initial-state-input {
    color: rgb(230, 153, 247);
  }
  .custom-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .playlistTitle {
    margin-top: .5rem;
    width: 100%;
  }
  .custom-title {
    font-size: 25px;
  }
  .edit-icon {
    color: rgb(230, 153, 247);
    margin-left: 1%;
    cursor: pointer;
  }
  /* User Text Input Section */
  .input-area {
    border-bottom: rgb(169, 27, 201) 1px solid;
    width: 100%;
    padding: 5px;
    border-radius: 9px;
    outline: none;
    color: rgb(195, 134, 195);
    cursor: pointer;
  }
  .input-area > h2 {
    margin-right: 20px;
    margin-bottom: 6px;
  }
  .input-custom-title{
    border: none;
    background: transparent;
    width: 100%;
    color: rgb(195, 134, 195);

  }
  .input-custom-title:focus{
    border: none;
    outline: none; 
    cursor: pointer;   
  }
  button{
    padding: 0.5rem 1rem;
    border: 1px solid #adc0ff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: purple;
    color: white;
  }