.playlist {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.playlist input {
    flex: 1;
    padding: 0.5rem;
    margin-right: 0rem;
  }
  .playlist button {
    padding: 0.5rem 2rem;
    border: 1px solid #adc0ff;
    border-radius: 5px;
    cursor: pointer;
  }
  .playlistTitle {
    margin-top: .5rem;
    width: 100%;
  }
  .custom-title {
    font-size: 25px;
  }