.search{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: column;
}
.search-controls{
  flex-direction: row;
  height: 100%;
}
.search input {
    flex: 1;
    margin-right: .6rem;
    margin-left: 0rem;
    border: none;
    border-style: none;
    padding: 10px;
    border-radius: 8px;
    border-color: purple;
    border-width: 1px;
  }
.search-h1 {
  font-size: 20px;
  color: rgb(230, 153, 247);
}