/* src/components/TrackList.css */

.track-list-container{
  width: 100%;
}
/* Includes Styling for individual tracks too */
.track-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1px;
    background: none;
    border-radius: 0px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0px;
  }
  .trackContainer {
    background: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  
  .track {
    border: 1px solid #adc0ff;
    background: rgb(148, 148, 244);
    width: 100%;
    border-radius: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
    margin: 0;

  }
  .track-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
  }
  .track-artist::after {
    content: "|"; /* Separator */
    margin: 0 5px; /* Spacing around separator */
  }

  /* .buttonArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px;
    border: 1px solid rgb(73, 211, 35);
    width: 100%;
    min-width: 100px;
    height: 200px;
    box-sizing: border-box;
    margin-top: 10px;
  } */
  /* .add-track-btn {
    border-style: none;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 0px;
    cursor: pointer;
    border-radius: 7px
  } */
  .track-action {
    border-style: none; /* No border on button */
    text-transform: uppercase; /* Uppercase text */
    padding: 10px; /* Padding for button */
    border-radius: 6px; /* No rounding */
    cursor: pointer; /* Pointer cursor on hover */
    height: 100%; /* Span full height of the track container */
    background: rgb(111, 70, 243); /* Background color for the button */
    color: white; /* Text color */
    display: flex; /* Flex for centering icon */
    align-items: center; /* Center icon vertically */
    justify-content: space-evenly; /* Center icon horizontally */
    font-size: 18px;
}